.headerContent {
  width: 20%;
  position: relative;
  float: left;
  margin-bottom: 10px;
}
.headerContent.headerContentLeft {
  float: right;
  border: 1px solid;
  background: green;
  border-radius: 2px;
  padding: 5px;
  font-weight: bold;
}
hr {
  clear: both;
}
